---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Results-driven Aerospace Engineering student with a passion for rocketry and space exploration. Demonstrated excellence 
    in academic coursework and hands-on projects, showcasing a strong foundation in aerospace engineering and 
    computer science principles.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Engineering in Aerospace Engineering"
      subtitle="Aug 2023-Dec 2024 at the University of Virginia, Charlottesville, Virginia"
    >
      <b>Cumulative GPA:</b> 4.00 of 4.00 <br>
      <b>Relevant Coursework:</b> Combustion, Gas Dynamics, Control Systems, Linear State Space Systems, Experimental Robotics, Engineering Math, Finite Element Analysis, Turbulence & Multi-Phase Flow,
      Risk Analysis
    </TimeLineElement>
    <TimeLineElement
      title="Bachelor of Science in Aerospace Engineering"
      subtitle="Aug 2020-May 2024 at the University of Virginia, Charlottesville, Virginia"
    >
      <b>Minor:</b> Computer Science | <b>Cumulative GPA:</b> 3.95 of 4.00 <br>
      <b>Relevant Coursework:</b> Aerospace Propulsion, Astronautics, Flight Vehicle Dynamics, Aerodynamics, Aerospace Structures, Thermodynamics, Fluid
      Mechanics, Aerospace Materials, Computer Aided Design
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Project & Component Engineering Intern at Aerojet Rocketdyne"
      subtitle="May 2024-Aug 2024"
    >
    &nbsp; &nbsp; I modernized and validated a data reduction software originally developed in C by converting it into MATLAB. 
    This upgrade enabled the software to output several key parameters, events, and graphics shortly after solid motor static fire tests, 
    thereby streamlining the data analysis process for both customers and company test engineers. <br>
    &nbsp; &nbsp; Additionally, I developed and maintained comprehensive indentured parts lists for two major programs using Windchill PLM software. 
    This ensured accurate documentation and version control for over 500 individual components, resulting in approximately a 10% reduction 
    in the time required to resolve issues. <br>
    &nbsp; &nbsp; Furthermore, I conducted a thorough analysis of existing propellant ingredient specifications and identified that a requalification 
    plan was unnecessary. This oversight saved the company and the program an estimated $100,000 and several months of testing and validation.
    </TimeLineElement>
    <TimeLineElement
      title="Propulsion Team Lead for Senior Capstone Project"
      subtitle="Aug 2023-May 2024"
    >
    &nbsp; &nbsp; In a leadership role, I spearheaded a multidisciplinary team of 10 engineers in the development and execution of a 
    student-researched M-class solid propulsion system for a high-powered rocket. My responsibilities encompassed the formulation 
    of safety, manufacturing, and testing procedures for our solid propellant, inspired by MIT's Cherry Limeade 
    formulation. Coordinating research efforts using tools like OpenRocket and OpenMotor, I optimized motor performance 
    and predicted flight characteristics, ensuring a holistic and successful approach to advancing rocketry capabilities. In a project lead role,
    I developed safety, manufacturing, and testing procedures while creating requirements, risks, & budget tables to ensure the prototype propulsion
    unit was completed by the end of the year.
    </TimeLineElement>
    <TimeLineElement
      title="President of the UVA High-Powered Rocketry Club"
      subtitle="Apr 2023-Jun 2024"
    >
    &nbsp; &nbsp; I am leading the full design of a Level 2 High-Powered rocket including a payload with several sensors, 
    wireless data transmission, an Arduino microcontroller, and a GUI for live plotting and analysis, 
    targeting an apogee of around 4000 ft. <br>
    &nbsp; &nbsp; In a pivotal leadership role, I orchestrated the acquisition of approximately $14,000 in funding, 
    recruited certified mentors, and directed a team of over 20 members in the comprehensive design, 
    manufacturing, and testing of a rocket to reach an altitude of 10,000 ft. for the team's debut in the Spaceport America Intercollegiate 
    Rocketry Competition in 2024. <br>
    &nbsp; &nbsp; Leveraging Solidworks and a rocket trajectory simulator, I designed and modeled an airbrakes system for the competition rocket
    to get as close to the target apogee as possible. I developed a numerical simulation that predicts the apogee of the rocket given position and velocity, 
    which is being used in the control algorithm for the airbrakes system.
    &nbsp; &nbsp; I oversaw the research and development of a hybrid rocket engine during the early phases of design and analysis. I worked directly on the Oxidizer system,
    researching and applying engineering principles on piping, valves, and injectors for a nitrous oxide hybrid rocket system.
    </TimeLineElement>
    <TimeLineElement
      title="National Security Solutions Technical Intern at KBR"
      subtitle="May 2023-Aug 2023"
    >
    &nbsp; &nbsp; I researched a signal processing tool tailored for sub-Nyquist rate sampling, assessing 
    its applicability to current and future projects. In MATLAB, I rigorously tested novel signal processing techniques, 
    successfully reconstructing diverse signal types at rates ranging from 3% to 50% of the Nyquist rate, with an impressive 
    success rate of up to ~80%. Additionally, I contributed to the tool's advancement by developing an enhanced GUI, 
    facilitating efficient sampling, analysis, and reconstruction of waveforms or signals. This project required adjustable 
    parameters, and findings were meticulously documented, culminating in presentations to executives and industry partners.
    </TimeLineElement>
    <TimeLineElement
      title="Program Lead at the Forge Academy"
      subtitle="Aug 2021-May 2023"
    >
    &nbsp; &nbsp; In a teaching role, I instructed a class of 15+ students each semester in data cleaning, analysis, visualization, 
    and machine learning using Python. My proactive approach to student enrollment involved conducting persuasive class 
    pitches, participating in event tabling, and leveraging social media strategies, surpassing class sign-up expectations. 
    To ensure a continually enriched learning experience, I consistently produced and refined lessons on GitHub and Git-Books
     on a weekly basis, demonstrating a commitment to dynamic and responsive teaching methodologies.
    </TimeLineElement>
    <TimeLineElement
      title="Undergraduate Teaching Assistance at UVA"
      subtitle="Aug 2021-May 2023"
    >
    &nbsp; &nbsp; I graded quizzes and worksheets for an extensive cohort of 80 or more students. I presented comprehensive grade distributions to the professor for 
    thorough assessment. To create an organized and accessible learning environment, I maintained and updated a 
    daily-updated website for students. This platform served as a repository for class notes, solutions, worksheets, and a 
    chronological timeline of lessons, ensuring students had seamless access to essential materials throughout the course.
    </TimeLineElement>
    <TimeLineElement
      title="President of Theta Tau"
      subtitle="Aug 2022-Jan 2023"
    >
    &nbsp; &nbsp; I revitalized and reorganized the fraternity following a probationary period. This involved 
    implementing comprehensive training sessions for both current and prospective members, resulting in improved chapter 
    dynamics and heightened adherence to national and regional fraternity standards. Additionally, I led executive meetings 
    to meticulously plan and execute impactful service events with organizations like Habitat for Humanity, alongside 
    professional development initiatives. Notably, I doubled the average chapter attendance by introducing incentive programs 
    and engaging activities for existing members. These initiatives included reducing due payments based on attendance, 
    implementing social study hours, and fostering collaborations with other professional organizations, contributing to a 
    more vibrant and participatory fraternity experience.
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant at the nanoSTAR Institute"
      subtitle="Jun 2022-Aug 2022"
    >
    &nbsp; &nbsp; Leading a cutting-edge research initiative, I worked on a project focused on enhancing a nano-scale drug delivery system, 
    specifically targeting PC3/PIP (prostate cancer) cells. My role encompassed extensive research and testing of various 
    methods, with a particular emphasis on entrapment of metal cations inside multilayered liposomes through reverse-phase 
    evaporation. This approach aimed to destroy cancer cells with minimal collateral damage. Notably, I successfully created 
    calibration curves to precisely measure entrapment rates, achieving up to 20%. Translating scientific discoveries into 
    broader impact, I presented the technology and research findings to a discerning scientific audience. 
    </TimeLineElement>
    <TimeLineElement
      title="Data Analyst Intern at Cherry Technologies"
      subtitle="Jun 2021-Jan 2022"
    >
    &nbsp; &nbsp; In a pivotal role, I orchestrated the development and maintenance of a Python script for loan valuations, drastically 
    reducing processing time from several hours to seconds, analyzing over 20 separate loans effortlessly. My data-driven 
    contributions extended to gathering and cleaning 6500+ rows of collections data. After thorough data analysis, I gave insightful 
    recommendations for resource optimization within the collections department. I rewrote nearly half of Cherry's frequently used SQL queries 
    for a database refactoring efforts, ensuring operational efficiency amidst significant database changes. Furthermore, I played a key role in 
    risk management by monthly analysis of merchant and customer data, contributing to the update of risk reporting presentations for executive members, 
    including the CEO, CTO, and Head of Risk.
    </TimeLineElement>
    <TimeLineElement
      title="Launch Vehicle Specialist at the Virginia Aerospace Scholars and Technology Scholars"
      subtitle="Nov 2019-Jun 2020"
    >
    &nbsp; &nbsp; As a student of VASTS, I consistently produced eight APA-formatted technical reports and proposals bi-weekly, 
    covering diverse topics such as risk management and lunar and Martian missions. Demonstrating dedication and expertise, 
    I invested 70 hours in a week-long, intensive summer academy, contributing to the design of a crewed, self-sustainable 
    Martian outpost. I got the opportunity to collaborate with NASA officials for guidance and worked within 
    a sub-team of 16 individuals to calculate orbital trajectories and transits. Culminating in a significant achievement, 
    I presented the final mission to Mars to top NASA officials through a virtual presentation panel. 
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Tripoli Level 1 High-Powered Rocketry Certification
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul style="list-style: none; columns: 3; padding: 0;">
    <li style="margin-bottom: 2em;"><strong>Modeling/Analysis</strong>
      <ul style="list-style: disc inside;">
        <li>Solidworks</li>
        <li>Autodesk Inventor</li>
        <li>Autodesk Fusion 360</li>
        <li>ANSYS</li>
        <li>Autodesk CFD</li>
        <li>FEA</li>
        <li>OpenRocket</li>
        <li>OpenMotor</li>
        <li>BurnSum</li>
        <li>CFD</li>
      </ul>
    </li>
  
    <li style="margin-bottom: 2em;"><strong>Programming</strong>
      <ul style="list-style: disc inside;">
        <li>MATLAB</li>
        <li>Python</li>
        <li>C++</li>
        <li>Java</li>
        <li>ROS</li>
        <li>Arduino</li>
        <li>pandas</li>
        <li>scikit-learn</li>
      </ul>
    </li>
  
    <li style="margin-bottom: 2em;"><strong>Other Software/Tools:</strong>
      <ul style="list-style: disc inside;">
        <li>Windchill</li>
        <li>Signal Processing</li>
        <li>Machine Learning</li>
        <li>Git</li>
        <li>SQL</li>
        <li>Sensor Integration</li>
      </ul>
    </li>
  </ul>
</BaseLayout>
